main{
    section.textos-inicio{
        h1{
            font-size: 30px;
        }
        p{
            width: 52%;
            margin: 0 auto;
            line-height: 1.5;
        }

    }


    ul.listaItensSlide{
        font-size: 14px;
        margin-top: 15px;
        i{
            display: block;
            text-align: center;
            font-size: 35px;
        }
        li{
            display: inline-block;
            list-style: none;
            cursor: pointer;
            width: 200px;
            height: 75px;
            padding: 15px 0;
            border-right: 1px solid;
            border-image: linear-gradient(to bottom, #fafafa,#ccc) 1;
            text-align: center;
        }
        li:last-child{
            border-right: none;
        }
    }

    button.slick-prev.slick-arrow{
        background-image: url('../assets/svg/arrow-left.svg');
    }

    button.slick-next.slick-arrow{
        background-image: url('../assets/svg/arrow-right.svg');
    }

}